:root {
    --font-heading: "Josefin Sans", sans-serif;
    --font-body: "Rubik", sans-serif;
    --color-background: #9900ff;
    --color-fill: #140021;

    font-size: calc(1rem + 0.5vw);
}

html {
    font-family: var(--font-body);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

/* Global Layout */

body > :first-child {
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}